html,
body {
    margin: 0px;
    height: auto;
    min-height: 100%;
}

html {
    overflow: auto;
}

#table-top {
    display: flex;
    padding: 10px 18px;
}

.suit {
    text-align: center;
}

.small-card-suit {
    font-size: 30px;
    height: fit-content;
    border-radius: 50%;
    width: fit-content;
    background-color: #ffffff;
    padding: 2px 5px;
}

.card {
    border-radius: 5px;
    width: 150px;
    height: 250px;
    background-color: rgb(256, 256, 256);
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle-card-suit {
    font-size: 60px;
    height: fit-content;
    background-color: #ffffff;
    width: fit-content;
    margin: auto;
    border-radius: 50%;
    padding: 0px 10px;
}

.align-right {
  margin-left: auto;
}

.align-left {
  margin-right: auto;
}

#playing-field {
    background-color: rgb(20, 190, 200);
    padding-bottom: 10px;
    height: auto;
}

#foundations,
#free-cells {
    display: flex;
    margin: auto;
}

.foundation,
.free-cell,
.cascade-empty {
    border-radius: 5px;
    width: 150px;
    height: 250px;
    position: relative;
    margin: 0px 5px;
    border: 1px solid rgb(256, 256, 256);
    cursor: pointer;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu-buttons {
    padding: 10px 10px 0px 10px;
    width: auto;
    text-align: center;
}

#menu-buttons > button {
    border: 0px;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 5px;
}

button:active,
button:focus,
button:target {
    outline: none;
}

#menu-buttons > button:disabled {
    color: #aaaaaa;
    cursor: not-allowed;
}

.foundation-suit {
    font-size: 90px;
    margin: 74px auto;
}

#table-top-spacer {
    background-color: rgb(0, 0, 0);
    width: 1px;
    margin: 0px 5px;
}

#cascades {
    display: flex;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#cascades-container {
    width: auto;
}

.cascade {
    margin: 0px 8px;
    display: inline-block;
    cursor: pointer;
}

.selected-card {
    background: repeating-linear-gradient( 125deg, #ffffff, #ffffff 10px, rgb(236, 66, 56) 10px, rgb(236, 66, 56) 20px ) !important;
}

#redo-move-button,
#undo-move-button,
#auto-move-button {
    float: right;
}

#new-game-button,
#replay-game-button,
#configure-button {
    float: left;
}

#game-timer {
    margin-left: -42px;
}

#game-timer,
#move-counter-container {
    color: #ffffff;
    font-size: 20px;
}

#overlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
    flex-direction: column;
    justify-content: center;
}

#overlay-content {
    border-radius: 5px;
    background-color: #ffffff;
    width: 80vw;
    height: 80vh;
    margin: auto;
}

#overlay-content-header-close-button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    float: right;
    padding: 8px 16px;
    cursor: pointer;
}

#overlay-content-header {
    overflow: hidden;
    border-bottom: 1px solid #000000;
}

.overlay-content-header-tab-button {
    float: left;
    display: inline-block;
    padding: 12px;
    font-size: 24px;
    color: rgb(20, 190, 200);
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overlay-content-header-tab-selected {
    color: rgb(236, 66, 56);
}
